<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>User Profile</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>User Profiles</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>

  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdq77Qoz15FIVabWGjFpTDABuL8DgiTOxSsf6rOCkLdNgNy4A/viewform?usp=header
</body>" target="_blank">Give Feedback</a>

</body>
</html>
